<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Loyalty>
			<version>0.0.1</version>
		</Cammino_Loyalty>
	</modules>
	<global>
        <helpers>
            <loyalty>
                <class>Cammino_Loyalty_Helper</class>
            </loyalty>
        </helpers>
		<models>
			<loyalty>
				<class>Cammino_Loyalty_Model</class>
                <resourceModel>loyalty_mysql4</resourceModel>
			</loyalty>
            <loyalty_mysql4>
                <class>Cammino_Loyalty_Model_Mysql4</class>
                <entities>
                    <loyalty>
                        <table>customer_points</table>
                    </loyalty>
                </entities>
            </loyalty_mysql4>
		</models>
        <resources>
            <loyalty_setup>
                <setup>
                    <module>Cammino_Loyalty</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </loyalty_setup>
            <loyalty_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </loyalty_write>
            <loyalty_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </loyalty_read>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <loyalty_order_created>
                        <class>loyalty/observer</class>
                        <method>orderCreated</method>
                    </loyalty_order_created>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_register>
                <observers>
                    <loyalty_invoice_registered>
                        <class>loyalty/observer</class>
                        <method>invoiceCreated</method>
                    </loyalty_invoice_registered>
                </observers>
            </sales_order_invoice_register>
            <sales_order_payment_cancel>
                <observers>
                    <loyalty_order_canceled>
                        <class>loyalty/observer</class>
                        <method>orderCanceled</method>
                    </loyalty_order_canceled>
                </observers>
            </sales_order_payment_cancel>
        </events>
	</global>
    <frontend>
		<routers>
			<loyalty>
				<use>standard</use>
				<args>
					<module>Cammino_Loyalty</module>
					<frontName>loyalty</frontName>
				</args>
			</loyalty>
		</routers>
	</frontend>
</config>