<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Loyalty>
			<version>0.0.1</version>
		</Cammino_Loyalty>
	</modules>
	<global>
        <blocks>
            <loyalty>
                <class>Cammino_Loyalty_Block</class>
            </loyalty>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Cammino_Loyalty_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Cammino_Loyalty_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Cammino_Loyalty_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <loyalty>
                <class>Cammino_Loyalty_Helper</class>
            </loyalty>
        </helpers>
		<models>
			<loyalty>
				<class>Cammino_Loyalty_Model</class>
                <resourceModel>loyalty_mysql4</resourceModel>
			</loyalty>
            <loyalty_mysql4>
                <class>Cammino_Loyalty_Model_Mysql4</class>
                <entities>
                    <loyalty>
                        <table>customer_points</table>
                    </loyalty>
                </entities>
            </loyalty_mysql4>
		</models>
        <resources>
            <loyalty_setup>
                <setup>
                    <module>Cammino_Loyalty</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </loyalty_setup>
            <loyalty_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </loyalty_write>
            <loyalty_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </loyalty_read>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <loyalty_order_created>
                        <class>loyalty/observer</class>
                        <method>orderCreated</method>
                    </loyalty_order_created>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_register>
                <observers>
                    <loyalty_invoice_registered>
                        <class>loyalty/observer</class>
                        <method>invoiceCreated</method>
                    </loyalty_invoice_registered>
                </observers>
            </sales_order_invoice_register>
            <sales_order_payment_cancel>
                <observers>
                    <loyalty_order_canceled>
                        <class>loyalty/observer</class>
                        <method>orderCanceled</method>
                    </loyalty_order_canceled>
                </observers>
            </sales_order_payment_cancel>
        </events>
        <sales>
            <quote>
                <totals>
                    <loyalty_discount>
                        <class>Cammino_Loyalty_Model_Sales_Quote_Address_Total_Tax</class>
                        <after>subtotal</after>
                    </loyalty_discount>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <loyalty_discount>
                        <class>Cammino_Loyalty_Model_Sales_Order_Total_Invoice_Tax</class>
                        <after>subtotal</after>
                    </loyalty_discount>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <loyalty_discount>
                        <class>Cammino_Loyalty_Model_Sales_Order_Total_Creditmemo_Tax</class>
                        <after>subtotal</after>
                    </loyalty_discount>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <loyaltytax>
                    <to_order>*</to_order>
                </loyaltytax>
                <base_loyaltytax>
                    <to_order>*</to_order>
                </base_loyaltytax>
            </sales_convert_quote>
        </fieldsets>
	</global>
    <frontend>
		<layout>
			<updates>
				<loyalty>
					<file>loyalty.xml</file>
				</loyalty>
			</updates>
		</layout>
		<routers>
			<loyalty>
				<use>standard</use>
				<args>
					<module>Cammino_Loyalty</module>
					<frontName>loyalty</frontName>
				</args>
			</loyalty>
		</routers>
	</frontend>
    <default>
        <payment>
            <loyalty>
                <active>1</active>
                <model>loyalty/pay</model>
                <order_status>processing</order_status>
                <title>Pagar usando meus pontos</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </loyalty>
         </payment>
    </default>
</config>