<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <loyalty translate="label" module="loyalty">
            <label>Programa Fidelidade</label>
            <sort_order>20</sort_order>
        </loyalty>
    </tabs>
    <sections>
        <payment>
            <groups>
                <loyalty translate="label" module="loyalty">
                    <label>Programa fidelidade</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                    </fields>
                </loyalty>
            </groups>
        </payment>
        <loyalty translate="label" module="loyalty">
            <label>Configuração</label>
            <tab>loyalty</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <general translate="label" module="loyalty">
                    <label>Configuração básica</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <active translate="label">
                            <label>Habilitado</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>

                        <firstname_attr_id translate="label">
                            <label>ID do atributo "Firstname"</label>
                            <comment>SELECT attribute_id FROM eav_attribute WHERE attribute_code = "firstname" ORDER BY attribute_id LIMIT 1;</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </firstname_attr_id>

                        <lastname_attr_id translate="label">
                            <label>ID do atributo "Lastname"</label>
                            <comment>SELECT attribute_id FROM eav_attribute WHERE attribute_code = "lastname" ORDER BY attribute_id LIMIT 1;</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lastname_attr_id>

                    </fields>
                </general>
                <points translate="label" module="loyalty">
                    <label>Pontos</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                        <money_to_point translate="label">
                            <label>Real para Ponto</label>
                            <comment>Quantos reais devem ser gastos para gerar 1 ponto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </money_to_point>
                        <point_to_money translate="label">
                            <label>Pontos para Real</label>
                            <comment>Quantos pontos são necessários para dar R$ 1,00 de desconto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </point_to_money>
                    </fields>
                </points>
                <advanced translate="label" module="loyalty">
                    <label>Configurações avançadas</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <min_val_to_generate_points translate="label">
                            <label>Valor mínimo do pedido para GERAR Pontos</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </min_val_to_generate_points>
                        <min_val_to_use_points translate="label">
                            <label>Valor mínimo do pedido para USAR Pontos</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </min_val_to_use_points>
                        <days_to_expire translate="label">
                            <label>Dias até expirar os pontos</label>
                            <comment>Deixar 0 ou vazio para os pontos não expirarem</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </days_to_expire>
                        <notice_one translate="label">
                            <label>Dias faltando para enviar primeiro lembrete de expiração por e-mail</label>
                            <comment>Deixar 0 ou vazio para não enviar</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notice_one>
                        <notice_two translate="label">
                            <label>Dias faltando para enviar segundo lembrete de expiração por e-mail</label>
                            <comment>Deixar 0 ou vazio para não enviar</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notice_two>
                        <notice_three translate="label">
                            <label>Dias faltando para enviar terceiro lembrete de expiração por e-mail</label>
                            <comment>Deixar 0 ou vazio para não enviar</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </notice_three>
                        <show_points translate="label">
                            <label>Exibir pontos</label>
                            <comment>Se não, irá mostrar apenas o valor em reais</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_points>
                        <show_points_on_product_view translate="label">
                            <label>Mostrar quantos pontos irá gerar na página do produto</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_points_on_product_view>
                        <show_points_on_cart_view translate="label">
                            <label>Mostrar quantos pontos irá gerar no carrinho</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_points_on_cart_view>
                        <show_points_on_checkout_view translate="label">
                            <label>Mostrar quantos pontos irá gerar no checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_points_on_checkout_view>
                        <product_view_info_link translate="label">
                            <label>Link para página de informações sobre os pontos na página do produto</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_view_info_link>
                        <shipping_discount translate="label">
                            <label>Desconsiderar valor do frete para gerar pontos</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping_discount>
                        <discount_payment_methods translate="label">
                            <label>Métodos de pagamento com desconto no valor restante</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_payment_allmethods</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </discount_payment_methods>
                        <discount_percentage translate="label">
                            <label>Porcentagem de desconto no valor restante</label>
                            <comment>Aumenta o desconto dado ao aplicar o uso dos pontos na porcentagem informada caso a forma de pagamento do valor restante seja uma das selecionadas acima</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </discount_percentage>
                    </fields>
                </advanced>
            </groups>
        </loyalty>
    </sections>
</config>
    