<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <loyalty translate="label" module="loyalty">
            <label>Programa Fidelidade</label>
            <sort_order>20</sort_order>
        </loyalty>
    </tabs>
    <sections>
        <loyalty translate="label" module="loyalty">
            <label>Configuração</label>
            <tab>loyalty</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <general translate="label" module="loyalty">
                    <label>Configuração básica</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <active translate="label">
                            <label>Habilitado</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>

                        <firstname_attr_id translate="label">
                            <label>ID do atributo "Firstname"</label>
                            <comment>SELECT attribute_id FROM eav_attribute WHERE attribute_code = "firstname" ORDER BY attribute_id LIMIT 1;</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </firstname_attr_id>
                        
                        <lastname_attr_id translate="label">
                            <label>ID do atributo "Lastname"</label>
                            <comment>SELECT attribute_id FROM eav_attribute WHERE attribute_code = "lastname" ORDER BY attribute_id LIMIT 1;</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </lastname_attr_id>

                    </fields>
                </general>
                <points translate="label" module="loyalty">
                    <label>Pontos</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <money_to_point translate="label">
                            <label>Real para Ponto</label>
                            <comment>Quantos reais devem ser gastos para gerar 1 ponto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </money_to_point>
                        <point_to_money translate="label">
                            <label>Pontos para Real</label>
                            <comment>Quantos pontos são necessários para dar R$ 1,00 de desconto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </point_to_money>                        
                    </fields>
                </points>
                <advanced translate="label" module="loyalty">
                    <label>Configurações avançadas</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <min_val_to_generate_points translate="label">
                            <label>Valor mínimo do pedido para GERAR Pontos</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </min_val_to_generate_points>
                        <min_val_to_use_points translate="label">
                            <label>Valor mínimo do pedido para USAR Pontos teste</label>
                            <comment></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </min_val_to_use_points>
                        <show_points_on_product_view translate="label">
                            <label>Mostrar quantos pontos irá gerar na página do produto</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_points_on_product_view>
                        <product_view_info_link translate="label">
                            <label>Link para página de informações sobre os pontos na página do produto</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_view_info_link>
                    </fields>
                </advanced>
            </groups>
        </loyalty>
    </sections>
</config>
    